In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense, Input
from matplotlib import pyplot as plt

In [2]:
dataset = pd.read_csv("StudentsPerformance.csv")
dataset.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
x = dataset.iloc[:,0:5]
y = dataset.iloc[:, 5:]
math_scores_y = dataset.iloc[:,5]
reading_scores_y = dataset.iloc[:,6]
writing_scores_y = dataset.iloc[:,7]

# One hot encode inputs

In [4]:
x = pd.get_dummies(x, drop_first=True)
print(x)

     gender_male  race/ethnicity_group B  race/ethnicity_group C  \
0              0                       1                       0
1              0                       0                       1
2              0                       1                       0
3              1                       0                       0
4              1                       0                       1
..           ...                     ...                     ...
995            0                       0                       0
996            1                       0                       1
997            0                       0                       1
998            0                       0                       0
999            0                       0                       0

     race/ethnicity_group D  race/ethnicity_group E  \
0                         0                       0
1                         0                       0
2                         0                       0
3                         0                       0
4                         0                       0
..                      ...                     ...
995                       0                       1
996                       0                       0
997                       0                       0
998                       1                       0
999                       1                       0

     parental level of education_bachelor's degree  \
0                                                1
1                                                0
2                                                0
3                                                0
4                                                0
..                                             ...
995                                              0
996                                              0
997                                              0
998                                              0
999                                              0

     parental level of education_high school  \
0                                          0
1                                          0
2                                          0
3                                          0
4                                          0
..                                       ...
995                                        0
996                                        1
997                                        1
998                                        0
999                                        0

     parental level of education_master's degree  \
0                                              0
1                                              0
2                                              1
3                                              0
4                                              0
..                                           ...
995                                            1
996                                            0
997                                            0
998                                            0
999                                            0

     parental level of education_some college  \
0                                           0
1                                           1
2                                           0
3                                           0
4                                           1
..                                        ...
995                                         0
996                                         0
997                                         0
998                                         1
999                                         1

     parental level of education_some high school  lunch_standard  \
0                                               0               1
1                                               0               1
2                                               0               1
3                                               0               0
4                                               0               1
..                                            ...             ...
995                                             0               1
996                                             0               0
997                                             0               0
998                                             0               1
999                                             0               0

     test preparation course_none
0                               1
1                               0
2                               1
3                               1
4                               1
..                            ...
995                             0
996                             1
997                             0
998                             0
999                             1

[1000 rows x 12 columns]

# Split into training and testing datasets

In [5]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=10)

# Create model

In [6]:
def create_model():
    model = Sequential()
    model.add(Input(shape=(12,)))
    model.add(Dense(64, activation='relu'))
    model.add(Dense(3, activation='softmax'))
    return model
    
my_model = create_model()
my_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 3)                 195

=================================================================
Total params: 1,027
Trainable params: 1,027
Non-trainable params: 0
_________________________________________________________________

In [7]:
my_model.compile(loss='mse', optimizer='adam', metrics=['accuracy'])
my_model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=20, verbose=1, shuffle=True)

Epoch 1/20
22/22 [==============================] - 0s 6ms/step - loss: 4756.9565 - accuracy: 0.4400 - val_loss: 4812.4097 - val_accuracy: 0.3567
Epoch 2/20
22/22 [==============================] - 0s 2ms/step - loss: 4756.6777 - accuracy: 0.4271 - val_loss: 4812.2598 - val_accuracy: 0.3467
Epoch 3/20
22/22 [==============================] - 0s 2ms/step - loss: 4756.4868 - accuracy: 0.4343 - val_loss: 4812.1411 - val_accuracy: 0.3533
Epoch 4/20
22/22 [==============================] - 0s 2ms/step - loss: 4756.3530 - accuracy: 0.4400 - val_loss: 4812.0332 - val_accuracy: 0.3600
Epoch 5/20
22/22 [==============================] - 0s 2ms/step - loss: 4756.2192 - accuracy: 0.4514 - val_loss: 4811.8687 - val_accuracy: 0.3900
Epoch 6/20
22/22 [==============================] - 0s 2ms/step - loss: 4756.0684 - accuracy: 0.5071 - val_loss: 4811.6250 - val_accuracy: 0.5633
Epoch 7/20
22/22 [==============================] - 0s 2ms/step - loss: 4755.8921 - accuracy: 0.5800 - val_loss: 4811.4092 - val_accuracy: 0.6033
Epoch 8/20
22/22 [==============================] - 0s 2ms/step - loss: 4755.7334 - accuracy: 0.6114 - val_loss: 4811.2480 - val_accuracy: 0.6467
Epoch 9/20
22/22 [==============================] - 0s 2ms/step - loss: 4755.6074 - accuracy: 0.6057 - val_loss: 4811.1279 - val_accuracy: 0.6400
Epoch 10/20
22/22 [==============================] - 0s 2ms/step - loss: 4755.5166 - accuracy: 0.6100 - val_loss: 4811.0342 - val_accuracy: 0.6433
Epoch 11/20
22/22 [==============================] - 0s 2ms/step - loss: 4755.4507 - accuracy: 0.6171 - val_loss: 4810.9834 - val_accuracy: 0.6367
Epoch 12/20
22/22 [==============================] - 0s 2ms/step - loss: 4755.4038 - accuracy: 0.6157 - val_loss: 4810.9346 - val_accuracy: 0.6500
Epoch 13/20
22/22 [==============================] - 0s 2ms/step - loss: 4755.3677 - accuracy: 0.6157 - val_loss: 4810.9092 - val_accuracy: 0.6433
Epoch 14/20
22/22 [==============================] - 0s 2ms/step - loss: 4755.3398 - accuracy: 0.6186 - val_loss: 4810.8955 - val_accuracy: 0.6433
Epoch 15/20
22/22 [==============================] - 0s 2ms/step - loss: 4755.3174 - accuracy: 0.6171 - val_loss: 4810.8730 - val_accuracy: 0.6433
Epoch 16/20
22/22 [==============================] - 0s 2ms/step - loss: 4755.2983 - accuracy: 0.6186 - val_loss: 4810.8628 - val_accuracy: 0.6467
Epoch 17/20
22/22 [==============================] - 0s 2ms/step - loss: 4755.2842 - accuracy: 0.6186 - val_loss: 4810.8550 - val_accuracy: 0.6467
Epoch 18/20
22/22 [==============================] - 0s 2ms/step - loss: 4755.2715 - accuracy: 0.6229 - val_loss: 4810.8560 - val_accuracy: 0.6433
Epoch 19/20
22/22 [==============================] - 0s 2ms/step - loss: 4755.2583 - accuracy: 0.6229 - val_loss: 4810.8447 - val_accuracy: 0.6433
Epoch 20/20
22/22 [==============================] - 0s 2ms/step - loss: 4755.2476 - accuracy: 0.6229 - val_loss: 4810.8389 - val_accuracy: 0.6500