In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense, Input
from keras.callbacks import EarlyStopping

# Read data from the StudentsPerformace.csv

In [2]:
dataset = pd.read_csv("StudentsPerformance.csv")
dataset.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
x = dataset.iloc[:,0:5]
y = dataset.iloc[:, 5:]

# One hot encode inputs

In [4]:
x = pd.get_dummies(x)
x.head(5)

,gender_female,gender_male,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_free/reduced,lunch_standard,test preparation course_completed,test preparation course_none
0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1
1,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,1,0
2,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1
3,0,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1
4,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1

# Split into training and testing datasets
## 70/15/15 split for Training/Test/Validation

In [5]:
# In the first step we will split the data in training and remaining dataset
X_train, X_remaining, y_train, y_remaining = train_test_split(x, y, test_size=0.3, random_state=10)

# Now since we want the valid and test size to be equal (15% each of overall data). 
# we have to define valid_size=0.5 (that is 50% of remaining data which is 30% of our original data size)
X_valid, X_test, y_valid, y_test = train_test_split(X_remaining, y_remaining, test_size=0.5, random_state=10)

# Create model

In [6]:
def create_model():
    model = Sequential()
    model.add(Input(shape=(17,)))
    model.add(Dense(30, activation='relu'))
    model.add(Dense(3, activation='softmax'))
    return model
    
my_model = create_model()
my_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                540

 dense_1 (Dense)             (None, 3)                 93

=================================================================
Total params: 633
Trainable params: 633
Non-trainable params: 0
_________________________________________________________________

# Compile and train the model using training and validation data

In [7]:
my_model.compile(loss='mse', optimizer='adam', metrics=['accuracy'])

# use EarlyStopping callback monitoring loss
# patience is the number of epochs with no improvement after which training will be stopped
callback = EarlyStopping(monitor='loss', patience=3)

In [8]:
# train model using training data and validation data
history = my_model.fit(X_train, y_train, validation_data=(X_valid, y_valid), epochs=50, callbacks=[callback], verbose=1, shuffle=True)

Epoch 1/50
22/22 [==============================] - 0s 10ms/step - loss: 4756.8882 - accuracy: 0.4300 - val_loss: 4810.0293 - val_accuracy: 0.5267
Epoch 2/50
22/22 [==============================] - 0s 1ms/step - loss: 4756.6240 - accuracy: 0.4843 - val_loss: 4809.8311 - val_accuracy: 0.4667
Epoch 3/50
22/22 [==============================] - 0s 1ms/step - loss: 4756.4009 - accuracy: 0.5000 - val_loss: 4809.6440 - val_accuracy: 0.4667
Epoch 4/50
22/22 [==============================] - 0s 2ms/step - loss: 4756.2080 - accuracy: 0.5257 - val_loss: 4809.4590 - val_accuracy: 0.5333
Epoch 5/50
22/22 [==============================] - 0s 1ms/step - loss: 4756.0273 - accuracy: 0.5686 - val_loss: 4809.2593 - val_accuracy: 0.5933
Epoch 6/50
22/22 [==============================] - 0s 2ms/step - loss: 4755.8467 - accuracy: 0.5857 - val_loss: 4809.0737 - val_accuracy: 0.6000
Epoch 7/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.6924 - accuracy: 0.6043 - val_loss: 4808.9336 - val_accuracy: 0.6267
Epoch 8/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.5771 - accuracy: 0.6114 - val_loss: 4808.8228 - val_accuracy: 0.6200
Epoch 9/50
22/22 [==============================] - 0s 2ms/step - loss: 4755.4917 - accuracy: 0.6100 - val_loss: 4808.7456 - val_accuracy: 0.6533
Epoch 10/50
22/22 [==============================] - 0s 2ms/step - loss: 4755.4277 - accuracy: 0.6186 - val_loss: 4808.7021 - val_accuracy: 0.6600
Epoch 11/50
22/22 [==============================] - 0s 2ms/step - loss: 4755.3838 - accuracy: 0.6143 - val_loss: 4808.6704 - val_accuracy: 0.6600
Epoch 12/50
22/22 [==============================] - 0s 2ms/step - loss: 4755.3501 - accuracy: 0.6229 - val_loss: 4808.6436 - val_accuracy: 0.6467
Epoch 13/50
22/22 [==============================] - 0s 2ms/step - loss: 4755.3232 - accuracy: 0.6143 - val_loss: 4808.6304 - val_accuracy: 0.6467
Epoch 14/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.3027 - accuracy: 0.6157 - val_loss: 4808.6064 - val_accuracy: 0.6467
Epoch 15/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.2852 - accuracy: 0.6157 - val_loss: 4808.6050 - val_accuracy: 0.6467
Epoch 16/50
22/22 [==============================] - 0s 2ms/step - loss: 4755.2686 - accuracy: 0.6129 - val_loss: 4808.6064 - val_accuracy: 0.6467
Epoch 17/50
22/22 [==============================] - 0s 2ms/step - loss: 4755.2559 - accuracy: 0.6200 - val_loss: 4808.5977 - val_accuracy: 0.6400
Epoch 18/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.2466 - accuracy: 0.6100 - val_loss: 4808.5850 - val_accuracy: 0.6467
Epoch 19/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.2334 - accuracy: 0.6200 - val_loss: 4808.5923 - val_accuracy: 0.6533
Epoch 20/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.2222 - accuracy: 0.6286 - val_loss: 4808.5923 - val_accuracy: 0.6467
Epoch 21/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.2129 - accuracy: 0.6271 - val_loss: 4808.5894 - val_accuracy: 0.6533
Epoch 22/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.2046 - accuracy: 0.6271 - val_loss: 4808.5811 - val_accuracy: 0.6533
Epoch 23/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.1978 - accuracy: 0.6243 - val_loss: 4808.5845 - val_accuracy: 0.6533
Epoch 24/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.1899 - accuracy: 0.6357 - val_loss: 4808.5884 - val_accuracy: 0.6467
Epoch 25/50
22/22 [==============================] - 0s 2ms/step - loss: 4755.1855 - accuracy: 0.6257 - val_loss: 4808.5933 - val_accuracy: 0.6467
Epoch 26/50
22/22 [==============================] - 0s 2ms/step - loss: 4755.1763 - accuracy: 0.6314 - val_loss: 4808.5874 - val_accuracy: 0.6467
Epoch 27/50
22/22 [==============================] - 0s 2ms/step - loss: 4755.1709 - accuracy: 0.6300 - val_loss: 4808.5864 - val_accuracy: 0.6467
Epoch 28/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.1650 - accuracy: 0.6357 - val_loss: 4808.5947 - val_accuracy: 0.6400
Epoch 29/50
22/22 [==============================] - 0s 2ms/step - loss: 4755.1602 - accuracy: 0.6371 - val_loss: 4808.5918 - val_accuracy: 0.6400
Epoch 30/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.1562 - accuracy: 0.6314 - val_loss: 4808.5933 - val_accuracy: 0.6400
Epoch 31/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.1504 - accuracy: 0.6357 - val_loss: 4808.5884 - val_accuracy: 0.6400
Epoch 32/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.1455 - accuracy: 0.6371 - val_loss: 4808.5981 - val_accuracy: 0.6400
Epoch 33/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.1416 - accuracy: 0.6429 - val_loss: 4808.5967 - val_accuracy: 0.6333
Epoch 34/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.1372 - accuracy: 0.6400 - val_loss: 4808.5991 - val_accuracy: 0.6400
Epoch 35/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.1338 - accuracy: 0.6429 - val_loss: 4808.5942 - val_accuracy: 0.6467
Epoch 36/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.1313 - accuracy: 0.6357 - val_loss: 4808.5938 - val_accuracy: 0.6400
Epoch 37/50
22/22 [==============================] - 0s 2ms/step - loss: 4755.1270 - accuracy: 0.6414 - val_loss: 4808.5962 - val_accuracy: 0.6467
Epoch 38/50
22/22 [==============================] - 0s 2ms/step - loss: 4755.1255 - accuracy: 0.6343 - val_loss: 4808.5913 - val_accuracy: 0.6333
Epoch 39/50
22/22 [==============================] - 0s 2ms/step - loss: 4755.1201 - accuracy: 0.6443 - val_loss: 4808.5986 - val_accuracy: 0.6400
Epoch 40/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.1162 - accuracy: 0.6400 - val_loss: 4808.5938 - val_accuracy: 0.6400
Epoch 41/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.1172 - accuracy: 0.6443 - val_loss: 4808.5967 - val_accuracy: 0.6333
Epoch 42/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.1128 - accuracy: 0.6414 - val_loss: 4808.5957 - val_accuracy: 0.6467
Epoch 43/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.1104 - accuracy: 0.6457 - val_loss: 4808.5957 - val_accuracy: 0.6400
Epoch 44/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.1069 - accuracy: 0.6429 - val_loss: 4808.5991 - val_accuracy: 0.6333
Epoch 45/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.1055 - accuracy: 0.6457 - val_loss: 4808.5947 - val_accuracy: 0.6400
Epoch 46/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.1021 - accuracy: 0.6486 - val_loss: 4808.5981 - val_accuracy: 0.6400
Epoch 47/50
22/22 [==============================] - 0s 2ms/step - loss: 4755.0991 - accuracy: 0.6457 - val_loss: 4808.6030 - val_accuracy: 0.6400
Epoch 48/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.0972 - accuracy: 0.6471 - val_loss: 4808.6064 - val_accuracy: 0.6400
Epoch 49/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.0952 - accuracy: 0.6443 - val_loss: 4808.6001 - val_accuracy: 0.6267
Epoch 50/50
22/22 [==============================] - 0s 1ms/step - loss: 4755.0947 - accuracy: 0.6486 - val_loss: 4808.6064 - val_accuracy: 0.6200

## Evaluate the model using testing data

In [14]:
scores = my_model.evaluate(X_test, y_test, verbose=0)
print("Loss:", (round(scores[0], 2)))
print("Accuracy: %.2f%%" % (scores[1]*100))

Loss: 4813.07
Accuracy: 62.67%